body {
    background-color: #333333;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
header {
    background-color: #333333;
    display: flex;
}
.logoLeft {
    margin-left: auto;
    margin-right: 16px;
}
.logoRight {
    margin-left: 16px;
    margin-right: auto;
}
.video {
    margin: 0;
    padding: 0;
    background: linear-gradient(#C4457A, #F1F1F1, #F1F1F1);
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
}
video {
    margin: 0;
    padding: 0;
}
button {
    background-color: #4D75A2;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}
.video p {
    color: #333333;
}
.table {
    display: flex;
    background-color: #333333;
}
.rating {
    margin-left: auto;
    border-spacing: 0 0;
} 
.history {
    margin-right: auto;
    border-spacing: 0 0;
}
footer {
    background-color: #333333;
}
.dezz {
    margin: auto;
    text-align: center;
}
.number {
    background-color: #C4457A;
}
.data {
    background-color: #EDEDED;
}
th {
    height: 50px;
    padding: 0;
    margin: 0;
}
td {
    padding: 0;
    margin: 0;
    height: 50px;
    color: #333333;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}
.hiden{
    display: none;
}